/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .last-updated {
  z-index: 1;
  position: absolute;
  font-size: 18px;
  text-align: center;
 }

 /* ***************** */
 /* Procedure Pricing */
 /* ***************** */
 h4.accordion-title {
	font-size:123%!important;
	line-height:100%!important;
	max-width:542px;
	background-color:#b8cc33;
	padding:6px 0 0 24px;
	}
h4.accordion-title i {
	position:relative;
	display:inline-block;
	top:-3;
	font-size:76%!important;
/* 	margin-top:-12px; */
	}
h4.accordion-title span {
	display:inline-block;
	padding: 12px 12px 0px 0px;
	line-height:100%;
	}

.accordion-content {
  margin:0!important;
  }
  
  /* Procedure Pricing Table */
  ul.pricing {
    list-style:none;
    max-width:566px;
    margin:0;
    display:table;
    width:100%;
    }
  
  ul.pricing li {
    /* position:relative; */
    /* overflow:hidden; */
    /* padding:6px 90px 6px 9px; */
    display:table-row;
    padding: 6px 0;
    }
  ul.pricing li span {
    line-height:1.2em;
    display:table-cell;
  }
  ul.pricing li:nth-of-type(odd) {
    background-color:rgba(184, 204, 51, 0.12);
    }
  
  ul.pricing .cpt-code {
    padding: 6px 15px 6px 9px;
    }
  
  ul.pricing .procedure-name {
    /* position: absolute; */
    /* float: left; */
    left: 75px;
    padding: 6px 0;
    }
  
  ul.pricing .price {
    /* position:absolute; */
    /* top:6px; */
    /* right:9px; */
    padding: 6px 9px;
    width:50px;
    font-weight:500;
    text-align:right;
  /* 	margin-left:15px; */
    }


 /* ***************** */
 /* Procedure Pricing */
 /* ***************** */
 .gdlr-blog-grid .gdlr-blog-info .blog-info.blog-author {
   clear: left;
 }

 .gdlr-blog-grid .gdlr-blog-info .blog-info.blog-specialty {
  top: -14px;
 }


 /* ******************************* */
 /* Service-related posts shortcode */
 /* ******************************* */ 

/*******************************************/
/************* STORY STYLES! ***************/
/*******************************************/

#service-posts .stories {
  display: block;
  position: relative;
  margin: 50px 20px 40px auto;
  }

#service-posts .serviceStory {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  width: calc(100% + 13px);
  /* float: left; */
  padding: 10px;
  border: solid 3px rgba(0, 177, 232, 0);
  border-width: 1px 1px 1px 3px;
  transition: all 0.42s;
  margin-left: -13px;
  }
@media only screen and (max-width: 767px) {
#service-posts .serviceStory {
  width:100%
  }
}
#service-posts .serviceStory:before {
content:"〉";
position:absolute;
opacity:0;
top:0px;
right:-20px;
display:block;
height:100%;
color:#00B1E8;
font-size:61px;
vertical-align:middle;
transition:0.2s;
}
#service-posts .serviceStory:hover {
color:#00B1E8;
border-color:rgba(0, 177, 232, 1);
  border-width:1px 1px 1px 9px;
/*	box-shadow:0 3px 3px rgba(0,0,0,0.23);*/
}
#service-posts .serviceStory:hover:before {
opacity:1;
}

#service-posts .storyThumb {
  display: block;
  float: left;
  width: 100px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-right: 23px;
  }

#service-posts .storyTitle {
  font-size: 30px;
  line-height: 123%;
  display: block;
  }
@media only screen and (max-width: 566px) {
#service-posts .storyTitle {
  font-size:24px;
  }
}

 #service-posts .stories {
	position:relative;
	display:inline-block;
	/* width:calc(((100% / 3) * 2) - 36px); */
	vertical-align:top;
	margin:0 10px 0 20px;
	}
  @media only screen and (max-width: 767px) {
  #service-posts .stories {
		width:100%;
		display:inline-block;
		margin:0;
		}
  }

#service-posts .stories > h2 {
	color:#8A2575;
	font-size:40px;
	font-weight:300;
	font-style:italic;
	line-height:123%;
	margin-bottom:25px;
	}
  @media only screen and (max-width: 767px) {
	#service-posts .stories > h2,
	#service-posts .stories > p {
		padding-left:170px;
		}
  }
  @media only screen and (max-width: 419px) {
	#service-posts .stories > h2,
	#service-posts .stories > p {
		padding-left:0;
		}
  }

  /*******************************************/
  /*********** END STORY STYLES! *************/
  /*******************************************/