#feed-search {
  margin: 10px 20px;
  font-size: 14px;
  line-height: 1.2em;
  display: block;
}

#feed-search .search-item-box {
  margin-bottom: 20px;
}

#feed-search h5,
#feed-search h6 {
  margin-bottom: 5px;
  color: rgba(34, 128, 50, 1.00);
}

#feed-search label {
  font-size: 16px;
  font-weight: bold;
}

#feed-search input {
  vertical-align: baseline;
}

#feed-search input[type="text"] {
  font-size: 24px;
  width: 200px;
  border: 1px solid rgba(34, 128, 50, 1.00);
}

#feed-search .reset-search-form {
  color: rgba(34, 128, 50, 1.00);
  font-size: 16px;
}

#feed-search .reset-search-form:hovor {
  color: #F57E20;
}

#feed-search input[type="submit"] {
  background-color: rgba(34, 128, 50, 1.00);
}

#feed-search #feed-search-button {
  position: relative;
  display: none;
  float:right;
  right:0;
  bottom:0;
  overflow: visible;
  width: 18px;
  max-width: none;
  height: 18px;
  background-color:  rgba(37, 132, 52, 1.00);
  padding: 9px;
  border: none;
  border-radius: 50%;
  margin: 0px -10px 0px 16px;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
}

@media only screen and (max-width: 767px) {
  .gdlr-item-start-content {
    padding-top: 0px !important;
  }

  #feed-search {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 999;
    width: 88%;
    /* padding: 20px;
    background-color: white;
    border: 1px solid rgba(37, 132, 52, 1.00); */
  }

  #feed-search #the-form {
    position: relative;
    display: none;
    overflow: scroll;
    height: 375px;
    width: 100%;
    bottom: -25px;
    background-color: white;
    border: 1px solid rgba(37, 132, 52, 1.00);
  }

  #feed-search #searchform {
    padding:20px;
  }

  #feed-search #feed-search-button {
    display: block;
  }
}
