/**
 * Blog Feed specialty identifiers
 */
 .gdlr-blog-full .blog-content-wrapper {
	 overflow: visible !important;
 }
.gdlr-blog-grid .gdlr-blog-info .blog-info.blog-author, 
.gdlr-blog-full .gdlr-blog-info .blog-info.blog-author {
	margin-right: 25px !important;
}

.gdlr-blog-grid .gdlr-blog-info .blog-info.blog-specialty,
.gdlr-blog-full .gdlr-blog-info .blog-info.blog-specialty {
	float:right;
	top: -10px;
	position:relative;
	margin-right:0 !important;
	}

i.specialty {
	display: inline-block;
	height: 32px !important;
	width: 100px !important;
	overflow: visible;
	}
i.specialty-canyon-view-family-medicine {
	background: url('../images/CVFM-Horz-Color-Brand-Grey.png') no-repeat;
	background-size: contain;
	background-position: right bottom;
	}
i.specialty-canyon-view-medical {
	background: url('../images/CVMG-Horz-Color-Brand-Grey.png') no-repeat;
	background-size: contain;
	background-position: right bottom;
	}
i.specialty-canyon-view-orthopedics {
	background: url('../images/CVOSM-Horz-Color-Brand-Grey.png') no-repeat;
	background-size: contain;
	background-position: right bottom;
	}
i.specialty-canyon-view-sports-medicine {
	background: url('../images/CVSM-Horz-Color-Brand-Grey.png') no-repeat;
	background-size: contain;
	background-position: right bottom;
	}
i.specialty-canyon-view-pediatrics {
	background: url('../images/CVP-Horz-Color-Brand-Grey.png') no-repeat;
	background-size: contain;
	background-position: right bottom;
	}
i.specialty-canyon-view-womens-care {
	background: url('../images/CVWC-Horz-Color-Brand-Grey.png') no-repeat;
	background-size: contain;
	background-position: right bottom;
	}