/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /* Careers */
#cvm-careers-meta-box label.cvm-row-title {
 font-weight: bold;
}
#cvm-careers-meta-box .wp-editor-wrap {
 padding-bottom: 2em;
}

/* Procedure Pricing */
#cvm_procedure_pricing_meta_box .use-shortcode {
  margin-left: 1em;
}
#cvm_procedure_pricing_meta_box .cvm-section {
  border: solid 1px #dddddd;
  margin: 0.25em 0;
}
#cvm_procedure_pricing_meta_box .cvm-section > .cvm-section-header {
  background-color: #eeeeee;
  padding: 0.5em;
  margin-top: 0;
}
#cvm_procedure_pricing_meta_box .cvm-section > .cvm-section-header > input.cvm-section-heading {
  font-weight: bold;
}
#cvm_procedure_pricing_meta_box ul > li > ul  li {
  display: inline;
  margin-left: 1.5em;
}
#cvm_procedure_pricing_meta_box button.cvm {
  display: block;
  margin: 1em;
}
#cvm_procedure_pricing_meta_box button.cvm-remove-section {
  display: inline;
  margin-right: 2.5em;
  color: #ac0000;
  background-color: #ffffff;
  float: right;
}
#cvm_procedure_pricing_meta_box button.cvm-new-procedure {
  display: inline;
  margin-left: 2em;
}
#cvm_procedure_pricing_meta_box button.cvm-remove-procedure {
  display: inline !important;
  margin: 0 !important;
}
